.start{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto  auto  auto  auto  auto  auto  auto;
  grid-row-gap: 150px;
  font-style: italic;
}
/*.h{
  position: fixed;
}*/
#nav{
  color:grey;
  font-style: italic;position: fixed;
} 
   
  .a1
{
font-size: 18px;
height: 600px;
background-image:url(../images/m.jpg);
  background-repeat: no-repeat;
  width:100%;
  font-style: italic;
  color: #2d2e30;
}

.x{
  color:  #ff026b;
  float: left;
}
.menu
{
  padding-right:50px;
  font-style: italic;
 /* float: right;*/
}

.menu:hover
{
  background-color:white;
}

button
{
  background-color:red;
  color: white;
 padding: 14px 20px;
  border: none;
  align-items: center;
 border-radius: 30px;
 color: black;
 font-style: italic;
}

button:hover
{
	background-color:white;
}

#item3
{
  background-image: url("../images/a.jpg");
  background-repeat: no-repeat;
  background-size: 1000px 700px;
   background-position: center;
   height: 500px;
   width:60%;
   font-size: 18px;
  margin-top: 30px;
  margin-left: 200px;
  background-color: #ff026b;
font-style: italic; color: white;
}
.a3
{
 background-color: #ff026b;
   font-size: 18px;
    position: relative;
    top: 305px;
    left: 134px;
  background-color: #ff026b; color: white;
      height: 300px;
    width: 600px;
    text-align: center;
     font-family:arial;font-style: italic;
  }

#text
{
  color: #ff026b;
   margin-left: 100px;
   font-style: italic; color: white;
}
#p
{
  color: gray;
  text-align: left;
  margin-right: 750px;
  margin-left: 50px;
  font-size: 18px;
  font-style: italic; color: white;
}

#item4
{
  text-align: left;font-style: italic;
   color: white;
}

.grid-container1 {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px ;
  grid-template-rows: 350px 350px;
  justify-content: center;
 grid-gap: 50px;font-style: italic;

 }

.grid-container1 > h4
  {
    font-weight: bold;
    color: black;font-style: italic;
  }
#a4
{
  background-color: #d1cfcf;
  font-family:arial;
  grid-gap: 18px;font-style: italic;
      
  }

  #tp
  {
    color:#726f6f;
    font-size: 15px;font-style: italic;
  }

  #t1
  {
    margin-bottom: 0px;font-style: italic;
  }
#image
{
  height: 250px;
    width: 260px;
     }

.grid-container2 
{
 grid-template-columns: auto auto;
 grid-template-rows: auto;
  width: 50%;
  padding-left:100px;font-style: italic;
  
}
#marquee
{
  height: 200px;
  width: 500px;
 position: left;font-style: italic;
}

#z
{
  height: 350px;
  width: 500px;
}

#next
{
  height: 70px;
  width: 150px;
  border:none;
  border-radius: 5px;
  background-color: #ff026b;
  font-weight: bold;
  font-family: arial;
  color: white;
  font-size: 15px;
  position: relative;
  top: -40px;font-style: italic;
}
#a5
{
  font-size: 18px;
  font-family: arial;
  height: 350px;
  width: 550px;
  position:right;
 background-color:white; 
  margin-left: 600px;
 margin-top: -180px;font-style: italic;


}

#t2
{
  font-family: arial;
  font-size: 25px;
  width: 400px;
 color: #ff026b;
 margin-left: 0px;font-style: italic;
}
#p
{
  color:#726f6f;
  font-size: 18px;
  width: 500px;
  text-align: center;
  margin-left: 0px;font-style: italic;
}
#read
{
  margin-top: 50px;
  margin-right: 0px;
  height: 50px;
  width: 100px;
  border:none;
  border-radius: 50px;
  background-color:blue;
  font-weight: bold;
  color: white;font-style: italic;
}

#a6 
{
  text-align: left;
  font-family: arial;
  margin-top: 0;font-style: italic;
  
}
#exit
{
  color: #ff026b;
  font-family: arial;
  font-style: italic;
 }

#th
{
  font-size: 20px;
  height: 18px;
  width: 25px;font-style: italic;

}

#td
{
  color:#726f6f;
  font-size: 18px;
  font-family: arial;font-style: italic;
}

.grid-container 
 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  background-color: white;
  padding: 10px;
  background-color:#f2eded;font-style: italic;
}

.grid-container > div
 {
  font-size: 18px;
  color:#726f6f;font-style: italic;
}

 h3
 {
   font-family: arial;
   color:#726f6f;font-style: italic;
 }

 #more
{
  font-size: 15px;
  height: 40px;
  width: 90px;
  border:none;
  border-radius: 50px;
  color:  #ff026b;font-style: italic;
}
p{
  font-family: arial;
  font-size: 18px;
   color:#726f6f;font-style: italic;
}
#border
{
  border-radius: 50%;
  width:50px;
  height:50px;font-style: italic;
}
#b
{
  height: 40px;
  width:40px;
  margin-bottom: -20px; padding: 5px;
}
#marque
{
  height: 200px;
  width: 400px;
 position: relative;
 margin-left: 700px;
 margin-top: -350px;font-style: italic;
}
.grid-container3
{
  display: inline-grid;
 grid-template-columns: auto auto;
  width: 30%;
  grid-gap: 5px;
  position: left;
  padding-left: 80px;
  font-size: 18px;font-style: italic;
 }
 .flex-container5 {
  display: flex;
  align-items: center;
  background-color:white;
  justify-content:flex-start;
  padding-top: 50px;font-style: italic;
}

.flex-container5 > div {
  background-color: white;
  width: 30%;
  margin: 5px;
  text-align: center;
  height: 60%;
  flex: start;
  justify-content:flex-start;font-style: italic;

}
#img
{
  width: 250px;
  height: 250px;
}
#ex
{
  padding-top: 200px;
  font-family: arial;
   color: #ff026b;
font-style: italic;
}
#bu
{
  background-color: white;
  color: #ff026b;
}
/*#e{
  padding-top: 300px;
}*/
.flex
{
 /* background-color:#f2eded;*/
 display: flex;
 ;
  font-size:18px;
  font-family: arial;font-style: italic;
  /*height:30%;
*/
}
.a10
{
 /*padding-left: 100px;
  font-size:18px;
  background-color: white;
  font-family: arial;
  width: 50%;
  height: 30%;
  padding-left: 20px;*/
  margin-left: 20px;font-style: italic;
}

#a11
{
  border-radius: 5px 5px 5px 5px;
 /* background-color: white;*/
 width: 15%;
 height: 30px;
 font-family: arial;font-style: italic;
}
#a112{
width: 300px;
height:200px;
border-radius: 5px 5px 5px 5px;
}

#a12
{
 
   /*margin-left: 700px;
 margin-top: -500px;*/
background-color: white;font-style: italic;
/*float: right;*/
}

#foot
{
  background-color: #2d2e30;
  font-style: italic;
  width: 100%;
/*  padding: 5px;*/

}
.foot1
{
width:50%;
font-style: italic;
color: grey;
margin-top: -300px;
}
.foot2
{
width:50%;
 /*margin-left: 400px;
 margin-top: -380px;*/
 font-style: italic;
 color: grey;
     margin-top: -120px;
    margin-left: 650px;
}
.foot3
{
width:50%;
/*margin-left: 400px;*/
font-style: italic;
 /*margin-top: -150px;*/
 color: grey;
   margin-top: -200px;
    margin-left: 900px;
}
#hr{
  border: 1px solid;
   color: grey;
}
#copy{
  color: grey;
}
#follow{
  color:#ff026b; 
}
.home{
  color: white;
  padding: 20px;
}
#social{
  width: 20px;
  height: 20px;
}
#send{
background-color:#ff026b; 
border-radius:0px 20px 20px 0px;
margin-left:-10PX;
}
#p{
  padding-right: 250px;
   padding-left: 100px;
}
#mail{
  border-radius: 20px 0px  0px 20px ;
}
.sub{
  border-radius: 10px 10px 10px 10px;
  background-color:#ff026b; 
  width:150px;

}